In [4]:
import pandas as pd

In [7]:
df=pd.read_csv('F:/ML/CLASS_NOTES/advertising.csv')

In [10]:
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [12]:
df.rename(columns={"Daily Time Spent on Site":" DTSOS"})

,DTSOS,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [15]:
df.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Male                        0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

In [17]:
df.drop('Ad Topic Line',axis=1)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [19]:
df.drop('Country',axis=1)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,2016-06-03 21:43:21,1

In [21]:
df.drop('City',axis=1)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,0,Brazil,2016-06-03 21:43:21,1

In [23]:
df.drop('Timestamp',axis=1)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,0
...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,1

In [25]:
df.drop('City',axis=1)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,0,Brazil,2016-06-03 21:43:21,1

In [26]:
X=df.drop('Clicked on Ad',axis=1)

In [28]:
y=df['Clicked on Ad']

In [30]:
dfy=df.iloc[:,0]

In [32]:
dfy

0      68.95
1      80.23
2      69.47
3      74.15
4      68.37
       ...
995    72.97
996    51.30
997    51.63
998    55.55
999    45.01
Name: Daily Time Spent on Site, Length: 1000, dtype: float64

In [47]:
dfx=df.iloc[1:2]

In [49]:
dfx

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0

In [50]:
df.drop(['Country','City','Ad Topic Line','Timestamp'],axis=1,inplace=True)

In [52]:
X=df.iloc[:[1,2,3,5]]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [[1, 2, 3, 5]] of <class 'list'>

In [54]:
X=df.iloc[:,[1,2,3,5]]

In [56]:
from sklearn.model_selection import train_test_split

In [58]:
X_train,X_test,y_train,y_test=train_test_split(X,df1,test_size=0.30,random_state=77)

NameError: name 'df1' is not defined

In [59]:
df1=df.iloc[:,0]

In [60]:
X_train,X_test,y_train,y_test=train_test_split(X,df1,test_size=0.30,random_state=77)

In [62]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [64]:
regressor.score(X_train,y_train)

0.5667349438943141

In [66]:
polynomial_features=PolynomialFeatures(degree=2)
x_poly=polynomial_features.fit_transform(X)

model=LinearRegression()
model.fit(x_poly,y)

NameError: name 'PolynomialFeatures' is not defined

In [67]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

In [69]:
polynomial_features=PolynomialFeatures(degree=2)
x_poly=polynomial_features.fit_transform(X)

model=LinearRegression()
model.fit(x_poly,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [71]:
model=LinearRegression()
model.fit(x_poly,df1)
y_poly_pred=model.predict(x_poly)

In [74]:
y_poly_pred

array([ 75.82941247,  74.83040071,  73.27966573,  75.52028787,
        73.12612092,  73.00367615,  78.26082198,  59.42244133,
        72.20057361,  77.5097301 ,  55.63193276,  75.58095693,
        57.68218123,  75.90161422,  50.71003907,  55.11867993,
        56.7544711 ,  80.69446054,  57.01637426,  55.64999403,
        72.69469404,  75.48452632,  49.76783589,  76.62441289,
        49.89460026,  73.34586232,  52.56557267,  54.50676371,
        56.22351517,  78.55833435,  80.38758359,  80.52799464,
        55.43867176,  52.85538286,  56.61506262,  75.03663796,
        55.95480178,  74.81517386,  55.32637482,  48.35502047,
        75.76559354,  74.74339337,  74.92434723,  73.47232328,
        74.65096602,  45.54866738,  76.86057734,  81.22411685,
        52.94054336,  54.85937781,  74.18194922,  73.73072923,
        43.45015319,  53.42160729,  56.47552079,  77.88840051,
        56.50525468,  52.96960578,  74.77705622,  50.63820305,
        82.74511115,  77.00001192,  78.34353498,  79.61759895,
        51.81130351,  73.21806823,  58.50639517,  47.20907812,
        72.98988534,  52.82527322,  53.04549599,  79.31673226,
        55.26343638,  44.51064248,  48.62514522,  73.00478579,
        54.87612233,  76.47765368,  58.27652624,  57.33848623,
        73.09428644,  72.23192617,  56.65513188,  57.94248556,
        75.73378504,  58.72216973,  75.3054872 ,  55.83312165,
        57.47246171,  58.29488749,  54.48465463,  55.68691257,
        72.22885372,  54.58382555,  49.26750267,  75.3776251 ,
        51.6755634 ,  49.18617965,  45.95362274,  73.78400397,
        49.82931273,  75.48678434,  82.27278483,  76.93500329,
        74.78990069,  76.10776529,  78.08332492,  50.37112146,
        52.49255491,  72.9256554 ,  49.36919704,  50.44770603,
        74.32813953,  55.51607306,  72.3913462 ,  75.24290737,
        50.33337452,  57.36465163,  46.32368084,  46.63671087,
        75.66244014,  73.94085319,  72.86742141,  46.65972906,
        55.79933714,  73.63784535,  52.61545251,  85.11486007,
        71.99026808,  73.8532677 ,  52.21681457,  51.10468687,
        55.83194007,  72.36005605,  52.73748182,  53.33062154,
        49.05961713,  49.49646611,  78.05910203,  90.29371619,
        76.26350459,  48.41526269,  55.49590692,  80.6831484 ,
        76.64450882,  48.67668278,  54.84128509,  57.59205418,
        52.19137529,  52.20057073,  76.20856436,  80.12773813,
        47.89834275,  73.68904353,  76.11543408,  78.54665111,
        52.70557939,  53.66347276,  73.56887655,  54.46590324,
        75.50609966,  74.0638899 ,  75.35171201,  81.87996298,
        50.44849622,  46.20187797,  58.53087194,  76.46645549,
        59.50512727,  76.82230195,  51.83811095,  82.59806625,
        74.54563579,  80.30037346,  54.264204  ,  73.16159441,
        59.84639591,  74.12993928,  51.81569708,  75.37900947,
        49.86407196,  48.33622274,  55.23866513,  77.68582813,
        76.50441207,  54.22595884,  51.60753837,  73.34336175,
        48.34442623,  49.53082711,  53.98092488,  58.08896129,
        60.0974338 ,  51.33136223,  79.38313715,  55.65070936,
        51.70842037,  74.75453766,  73.41939297,  74.42512901,
        75.75006732,  76.4983122 ,  45.8462644 ,  75.76617594,
        71.97754529,  55.49602973,  72.53670285,  76.86077374,
        56.98214782,  50.55729274,  72.43730003,  50.80837875,
        74.77019527,  54.42757419,  76.48820782,  52.45157617,
        59.34174913,  56.39447987,  46.13333081,  50.02146887,
        78.49335511,  73.13518705,  54.16007671,  55.34755455,
        89.3789032 ,  52.54403426,  55.35121618,  46.32331424,
        73.6018598 ,  74.45927125,  72.54937001,  52.34690992,
        56.12006485,  55.73125485,  44.30554545,  51.61424683,
        54.09450205,  81.52407079,  54.89549591,  72.82125652,
        52.90436837,  56.74607241,  76.77857367,  75.00101796,
        76.18811293, 109.41926129,  48.9856266 ,  56.44921981,
        48.43339759,  52.10768759,  73.76561237,  56.46939092,
        74.95330475,  53.77338028,  55.60900769,  73.93822977,
        73.82521571,  50.04095049,  76.27661068,  54.43848091,
        72.33214795,  57.43317582,  56.50380762,  52.73191717,
        80.6627988 ,  55.61049273,  54.91991212,  72.95493898,
        49.41910956,  73.65438683,  47.98730049,  74.00494864,
        77.92438126,  79.03893008,  74.46303012,  50.57942828,
        76.59736576,  85.02699466,  86.38128901,  74.64567237,
        54.17418947,  52.6366803 ,  50.62137625,  73.48853017,
        53.46265149,  75.69458792,  54.77902834,  75.22835428,
        51.86913431,  58.36021481,  56.13309395,  74.78008103,
        55.32531717,  73.90636209,  82.39119033,  74.57371588,
        73.70958356,  72.25640304,  73.063411  ,  72.85344197,
        75.57014733,  50.94261413,  49.13791409,  53.4286099 ,
        44.73488253,  53.28594928,  74.76907784,  74.96918372,
        77.38680198,  55.77598382,  73.13806203,  82.62860885,
        51.64152722,  74.88160649,  78.41901167,  56.60419598,
        80.0683257 ,  75.17005481,  75.97495323,  59.9050829 ,
        55.10383987,  85.2770422 ,  83.40381234,  73.71003945,
        80.50863269,  45.55750537,  43.27676369,  72.95376154,
        72.04502347,  53.74377294,  74.96627208,  73.04205603,
        53.97974968,  76.06684553,  81.04589957,  49.14407224,
        79.64638267,  73.34993575,  75.53908383,  73.17246243,
        45.5631582 ,  56.90892755,  83.1622455 ,  75.40265356,
        55.43632425,  80.11380657,  84.31009187,  44.72385416,
        79.46525399,  57.14826446,  73.7024452 ,  74.22847234,
        73.10692291,  78.78232376,  55.89648227,  76.97871307,
        47.6591216 ,  56.38369436,  52.42171159,  74.57586487,
        49.31774827,  57.53826435,  74.37867276,  54.85954201,
        76.29547259,  52.92483428,  73.64293069,  86.04534671,
        73.80056684,  79.21861673,  58.99030311,  47.35920498,
        73.68808614,  49.75567203,  73.08384593,  75.11380751,
        80.02276435,  58.57028992,  56.35076143,  78.86287112,
        73.31299981,  52.92465344,  79.3580493 ,  75.67221545,
        51.41529062,  74.59631814,  76.42868809,  53.97506006,
        75.17539571,  56.92232273,  74.28629302,  78.94237959,
        73.97379019,  72.53998824,  59.84214789,  77.29034595,
        49.4644844 ,  59.57288978,  77.61507538,  73.2507655 ,
        45.57272247,  76.19554845,  49.97285344,  78.63063201,
        58.60079136,  80.37665675,  53.78475542,  51.93452652,
        51.17340777,  46.60302881,  50.14672034,  73.03307118,
        83.19444457,  59.03502514,  77.75760686,  52.07253122,
        55.66831778,  72.10404882,  76.27976952,  80.31330489,
        45.58577514,  80.82104104,  55.81400801,  55.03134373,
        52.18903735,  56.404103  ,  55.62094309,  74.23591971,
        55.98629522,  79.718058  ,  82.86797154,  79.96284864,
        51.60821167,  75.58664107,  76.19769832,  55.01293299,
        83.15470072,  72.64422649,  57.93243887,  82.48024373,
        53.38325666,  74.33295036,  47.55898299,  57.06833408,
        44.11724442,  78.00284625,  50.70721948,  78.18526144,
        56.30562327,  83.59210388,  51.82368024,  52.86652249,
        75.33693608,  80.90473037,  47.53389967,  72.89414865,
        51.94706067,  78.48245527,  55.714607  ,  75.89511628,
        55.04078554,  43.55903762,  77.12209804,  44.18745302,
        85.95275813,  53.416558  ,  49.47444819,  52.47230353,
        60.23652464,  72.23398025,  52.43481709,  74.16986364,
        75.141942  ,  76.35859935,  51.96723884,  72.7935622 ,
        78.06452157,  52.4096726 ,  49.42711064,  47.73347923,
        73.62550145,  80.18996478,  72.21565299,  53.51197472,
        54.01347175,  56.57451877,  88.94281694,  72.6058441 ,
        46.29598383,  78.14155981,  56.94611475,  56.1792283 ,
        73.9892933 ,  55.75731231,  55.78421799,  74.11399511,
        73.53328624,  52.03601783,  77.29137365,  56.09902473,
        54.78410649,  79.88343601,  72.34511235,  58.10582679,
        59.9144387 ,  77.57251408,  73.49101926,  54.90616004,
        48.15842338,  73.97594484,  52.20482723,  72.6559397 ,
        74.67969648,  58.9677027 ,  81.35155107,  51.92190983,
        81.78819669,  51.0093401 ,  59.21091846,  46.53840096,
        52.69679118,  56.1834655 ,  73.86205288,  55.41327709,
        73.55211599,  85.14039145,  51.73279426,  74.14319552,
        53.64327803,  95.88438597,  56.82688861,  58.38448692,
        94.63772661,  85.66094747,  72.44293781,  73.31662763,
        78.01448565,  71.92299373,  77.19894369,  72.93850843,
        73.8070779 ,  76.41350611,  74.99809836,  58.93920444,
        72.58305766,  47.34529582,  73.05512795,  77.05483169,
        74.21432021,  73.28733691,  73.67105651,  73.80063451,
        56.09984243,  52.68451619,  48.63077633,  73.94152309,
        57.46588048,  73.6954138 ,  80.25535179,  73.91443882,
        59.87422479,  49.3899132 ,  78.70012219,  82.20724934,
        56.88699449,  76.16381588,  55.65161534,  75.30332909,
        79.93299662,  74.8371392 ,  56.55204117,  73.3527729 ,
        74.93790991,  51.50350979,  55.11545273,  53.76753382,
        48.19224135,  74.85510854,  72.62553464,  74.22386838,
        59.66863251,  57.51243976,  49.42761507,  56.20641632,
        57.29794451,  92.49017331,  77.91238088,  54.13543354,
        73.64477408,  49.43705483,  55.67559016,  57.41887659,
        72.4965972 ,  78.61258736,  54.21535497,  52.24640395,
        74.33606112,  75.26521028,  75.65711744,  45.9990956 ,
        50.98038819,  58.32460316,  56.49084982,  74.95129032,
        54.66145504,  59.36962538,  72.60443279,  72.72821276,
        56.92014695,  49.91597333,  44.62986413,  49.16304032,
        88.30142838,  72.70625655,  73.03695741,  47.31855097,
        58.07091039,  77.42113645,  46.89011184,  73.64806067,
        78.15559358,  77.92681118,  53.94320667,  96.74628792,
        74.51666561,  55.1231077 ,  78.85083732,  48.69907295,
        57.48945872,  74.46019997,  72.41591269,  81.40898686,
        72.18589693,  50.25668131,  55.2526556 ,  43.64796138,
        59.30246045,  83.43281666,  55.37020677,  81.15653334,
        56.55810247,  88.03691099,  73.96941643,  87.24597806,
        85.33551963,  51.66415422,  53.99394571,  53.00091375,
        72.83349936,  78.64075895,  81.90766422,  73.51825611,
        75.9509075 ,  89.6985487 ,  73.36643514,  58.23415474,
        78.25973632,  95.56034156,  77.3431393 ,  73.00521816,
        47.62588102,  55.22334345,  56.31318188,  56.61013748,
        73.65618174,  51.50700002,  72.62556763,  74.47073098,
        54.19862919,  56.72867138,  73.42587907,  49.04329138,
        83.42927916,  50.76622317,  72.75660664,  75.50935425,
        49.11831345,  53.20817833,  92.77072049,  59.33524458,
        73.81399832,  51.29406612,  52.50746628,  74.19252511,
        51.13510606,  73.14017943,  75.21619465,  72.19916387,
        73.63214629,  73.08123253,  77.00272343,  80.2043806 ,
        54.75721079,  56.0437156 ,  74.19471039,  75.16758746,
        46.18065296,  74.70239986,  81.34676497,  72.83064782,
        80.41550733,  54.52894851,  48.85828293,  72.8356476 ,
        75.64200515,  74.21614812,  51.29289061,  76.94870926,
        50.2277646 ,  51.94506512,  54.33468803,  72.41186069,
        88.3884198 ,  55.81466854,  76.25441535,  54.55585049,
        50.10775766,  76.43033239,  89.61259457,  57.03709346,
        74.71263798,  51.61321901,  48.38509673,  75.94548201,
        76.08845392,  76.02682693,  72.82899734,  74.52849303,
        86.53007502,  74.30082804,  78.26273325,  74.45484793,
        79.57971816,  53.84466993,  55.68954863,  75.88717456,
        74.09265091,  57.82312986,  52.85170655,  73.84341793,
        51.9983199 ,  74.05069538,  73.91455167,  58.14684214,
        55.63542944,  55.70962885,  61.56263757,  54.45531154,
        47.37236174,  86.3972518 ,  52.54036421,  74.39095472,
        74.13912722,  77.80664541,  74.15381312,  72.79338651,
        57.0812623 ,  54.35653586,  47.21209861,  48.43497754,
        75.4572872 ,  74.67308347,  56.31477802,  52.06188321,
        58.38841728,  55.42169948,  53.04173731,  58.67107798,
        54.19002235,  83.91721876,  72.07217396,  79.22161413,
        79.87168256,  48.03570869,  43.06124925,  50.96869926,
        57.0723904 ,  72.0949243 ,  52.3976022 ,  73.86450146,
        56.18960589,  55.10851698,  74.3809667 ,  81.16002022,
        46.56035374,  47.7472943 ,  83.63601003,  59.35603137,
        76.91605335,  50.4115129 ,  46.50922841,  45.72392128,
        72.51081878,  47.33006189,  56.55260186,  72.84716542,
        74.05327581,  73.61950956,  82.13848039,  77.4244764 ,
        55.80105634,  56.52535539,  56.84635326,  52.28342856,
        57.87868606,  78.03014219,  55.24393509,  58.46170681,
        50.10639669,  58.90430738,  50.91353679,  77.3107675 ,
        80.76177973,  72.72890152,  78.93163733,  75.56143081,
        46.31941474,  53.97785956,  74.00203631,  77.84731016,
        58.20978546,  74.95793651,  58.18159577,  73.23906477,
        72.02935782,  77.14900269,  74.30934922,  53.18202105,
        57.40386982,  53.04745732,  51.01820805,  51.66926737,
        51.49370809,  53.23993719,  71.95261414,  75.14687562,
        56.23674216,  56.72570285,  53.65025008,  59.06962656,
        56.22884551,  60.37744383,  76.14406181,  74.43429165,
        83.07877473,  51.98930814,  57.22352868,  85.60765826,
        80.64099369,  57.78063985,  78.02292278,  46.31542048,
        60.14917118,  76.43545405,  53.75497314,  56.95858701,
        74.17112004,  74.09982568,  46.63874239,  82.27721424,
        43.48328482,  71.94906017,  83.70974202,  75.71998526,
        85.39958864,  49.28183971,  76.94907032,  86.27735022,
        72.30581961,  74.58311383,  54.48729229,  74.48542304,
        73.70867812,  74.67183521,  80.83673844,  47.64487325,
        58.50447138,  76.23707378,  83.17773221,  73.19347564,
        51.67836544,  74.45874777,  79.06322923,  49.81305676,
        76.0033561 ,  56.16492518,  52.54541625,  56.16570454,
        73.80193474,  56.6930577 ,  73.78085815,  55.50754738,
        48.21751901,  76.34319183,  77.36697889,  86.64947697,
        73.66051573,  55.08514327,  57.8202243 ,  46.8311895 ,
        56.08823393,  47.01697673,  53.81785312,  78.95240086,
        78.08260259,  75.42933217,  43.96005479,  77.53796515,
        57.99690353,  75.28234616,  49.57372869,  58.44652689,
        46.13184208,  77.21223097,  51.58982569,  44.99457162,
        56.72079242,  76.69766172,  73.00776853,  75.24050067,
        77.23257156,  56.84868647,  53.02838543,  51.19985584,
        52.40569008,  47.24889899,  74.19544108,  97.50780302,
        75.51289292,  52.79803262,  75.58565384,  57.38128635,
        56.98351434,  47.63223866,  76.49554019,  76.89978058,
        60.21333139,  53.21477093,  43.52816617,  84.69400578,
        54.788132  ,  49.40135385,  54.07971975,  48.97756028,
        56.04953563,  79.76673312,  75.51001322,  48.64172884,
        58.97285756,  48.60782951,  55.14358527,  48.76713516,
        51.8590294 ,  52.33926592,  74.93154512,  58.88639824,
        47.16623379,  74.8303249 ,  74.77938771,  86.35301395,
        54.63237916,  74.27992711,  74.78994408,  76.91374525,
        73.66677917,  43.3843105 ,  45.03641992,  74.26357088,
        53.82001524,  57.84574141,  49.71170673,  54.86225263,
        55.03389544,  73.75605144,  52.20232156,  50.11853734,
        59.73073836,  56.00830718,  79.33645303,  75.89141591,
        55.5380741 ,  92.48250965,  55.35603837,  76.12503662,
        75.75475837,  54.71132208,  73.34115772,  59.75601306,
        92.18272322,  76.62046065,  46.41820453,  49.6546298 ,
        55.83552224,  72.03528176,  53.09330884,  58.86695188,
        53.76347221,  57.78338712,  83.34932535,  49.34953254])

In [77]:
from sklearn.metrics import mean_squared_error

In [79]:
rmse=np.sqrt(mean_squared_error(y,y_poly_pred))

NameError: name 'np' is not defined

In [81]:
import numpy as np

In [82]:
rmse=np.sqrt(mean_squared_error(y,y_poly_pred))

In [84]:
rmse

65.81848097774777

In [86]:
rscore=r2_score(y,y_poly_pred)

In [88]:
rscore

-17327.28975287258

In [1]:
model.score(X_train,y_train)

NameError: name 'model' is not defined