In [2]:
ser1=pd.Series([1,2,3,4]),index=['USA','Germany','USSR','Japan']

SyntaxError: can't assign to function call (<ipython-input-2-ae04b09239d3>, line 1)

In [4]:
ser1=pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])

NameError: name 'pd' is not defined

In [10]:
import pandas as pd

In [12]:
ser1=pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])

In [14]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [17]:
ser2=pd.Series([1,2,5,4]),index=['USA','Germany','Italy','Japan'])

SyntaxError: invalid syntax (<ipython-input-17-acf536b1ca4e>, line 1)

In [19]:
ser2=pd.Series([1,2,5,4],index=['USA','Germany','Italy','Japan'])

In [22]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [24]:
ser3=pd.Series([0,1,2,3],index=['New','USA','Germany','HI'])

In [26]:
ser3+ser2+ser1

Germany    6.0
HI         NaN
Italy      NaN
Japan      NaN
New        NaN
USA        3.0
USSR       NaN
dtype: float64

In [29]:
ser3.median()

1.5

In [31]:
ser2.variance()

AttributeError: 'Series' object has no attribute 'variance'

In [33]:
ser2.var()

3.3333333333333335

In [35]:
import numpy as np

In [37]:
from numpy.random import randn

In [61]:
np.random.seed(10)

In [63]:
df=pd.DataFrame(randn(5,4),index='A B C D E' .split(),columns='W X Y Z'.split())

In [45]:
df=pd.DataFrame(randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

In [47]:
a="d e zyre"

In [50]:
a.split()

['d', 'e', 'zyre']

In [60]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [64]:
df.dropna(['Z'])

C:\Users\ankit dagar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: supplying multiple axes to axis is deprecated and will be removed in a future version.
  """Entry point for launching an IPython kernel.

ValueError: No axis named Z for object type <class 'pandas.core.frame.DataFrame'>

In [66]:
df.rename(columns={"X":"e"})

          W         e         Y         Z
A  1.397996 -0.271248  0.613204 -0.267317
B -0.549309  0.132708 -0.476142  1.308473
C  0.195013  0.400210 -0.337632  1.256472
D -0.731970  0.660232 -0.350872 -0.939433
E -0.489337 -0.804591 -0.212698 -0.339140

In [69]:
df.rename(index={"A":"G"})

          W         X         Y         Z
G  1.397996 -0.271248  0.613204 -0.267317
B -0.549309  0.132708 -0.476142  1.308473
C  0.195013  0.400210 -0.337632  1.256472
D -0.731970  0.660232 -0.350872 -0.939433
E -0.489337 -0.804591 -0.212698 -0.339140

In [72]:
df.rename(columns={"W":4,"Z":9})

          4         X         Y         9
A  1.397996 -0.271248  0.613204 -0.267317
B -0.549309  0.132708 -0.476142  1.308473
C  0.195013  0.400210 -0.337632  1.256472
D -0.731970  0.660232 -0.350872 -0.939433
E -0.489337 -0.804591 -0.212698 -0.339140

In [75]:
df.rename(index={"D":4,"E":9})

          W         X         Y         Z
A  1.397996 -0.271248  0.613204 -0.267317
B -0.549309  0.132708 -0.476142  1.308473
C  0.195013  0.400210 -0.337632  1.256472
4 -0.731970  0.660232 -0.350872 -0.939433
9 -0.489337 -0.804591 -0.212698 -0.339140

In [78]:
df

          W         X         Y         Z
A  1.397996 -0.271248  0.613204 -0.267317
B -0.549309  0.132708 -0.476142  1.308473
C  0.195013  0.400210 -0.337632  1.256472
D -0.731970  0.660232 -0.350872 -0.939433
E -0.489337 -0.804591 -0.212698 -0.339140

In [84]:
df['W'['X']]

TypeError: string indices must be integers

In [87]:
df[['W','X'],axis=0]

SyntaxError: invalid syntax (<ipython-input-87-005362198b4f>, line 1)

In [89]:
df([['W','X']],axis=0)

TypeError: 'DataFrame' object is not callable

In [92]:
type(df)

pandas.core.frame.DataFrame

In [94]:
df['new']=df['X']+df['Z']

In [96]:
df

          W         X         Y         Z       new
A  1.397996 -0.271248  0.613204 -0.267317 -0.538565
B -0.549309  0.132708 -0.476142  1.308473  1.441181
C  0.195013  0.400210 -0.337632  1.256472  1.656682
D -0.731970  0.660232 -0.350872 -0.939433 -0.279202
E -0.489337 -0.804591 -0.212698 -0.339140 -1.143731

In [98]:
df['newt']=df['X']-df['Z']

In [100]:
df

          W         X         Y         Z       new      newt
A  1.397996 -0.271248  0.613204 -0.267317 -0.538565 -0.003931
B -0.549309  0.132708 -0.476142  1.308473  1.441181 -1.175765
C  0.195013  0.400210 -0.337632  1.256472  1.656682 -0.856262
D -0.731970  0.660232 -0.350872 -0.939433 -0.279202  1.599665
E -0.489337 -0.804591 -0.212698 -0.339140 -1.143731 -0.465451

In [105]:
df.drop('new',axis=1,inplace=True)

In [107]:
df

          W         X         Y         Z      newt
A  1.397996 -0.271248  0.613204 -0.267317 -0.003931
B -0.549309  0.132708 -0.476142  1.308473 -1.175765
C  0.195013  0.400210 -0.337632  1.256472 -0.856262
D -0.731970  0.660232 -0.350872 -0.939433  1.599665
E -0.489337 -0.804591 -0.212698 -0.339140 -0.465451

In [109]:
df

          W         X         Y         Z      newt
A  1.397996 -0.271248  0.613204 -0.267317 -0.003931
B -0.549309  0.132708 -0.476142  1.308473 -1.175765
C  0.195013  0.400210 -0.337632  1.256472 -0.856262
D -0.731970  0.660232 -0.350872 -0.939433  1.599665
E -0.489337 -0.804591 -0.212698 -0.339140 -0.465451

In [114]:
df.drop('D',inplace=True)

In [116]:
df

          W         X         Y         Z      newt
A  1.397996 -0.271248  0.613204 -0.267317 -0.003931
B -0.549309  0.132708 -0.476142  1.308473 -1.175765
C  0.195013  0.400210 -0.337632  1.256472 -0.856262
E -0.489337 -0.804591 -0.212698 -0.339140 -0.465451

In [118]:
df1=pd.DataFrame([[1,2],[4,5],[7,8]],index=['cobra','viper','sidewinder'],columns=['max_speed','shield'])

In [120]:
df1

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [122]:
df1['max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [124]:
df1['shield']

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

In [129]:
df2=df1[['max_speed','shield']]

In [131]:
df2

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [133]:
df1.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [135]:
df1.iloc[1:]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [137]:
df1.iloc[2]

max_speed    7
shield       8
Name: sidewinder, dtype: int64

In [140]:
df1.loc['cobra','shield']

2

In [142]:
df1.loc['viper','max_speed']

4

In [147]:
df1.iloc[0]

max_speed    1
shield       2
Name: cobra, dtype: int64

In [149]:
df1

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [151]:
df1.loc['cobra':'viper','shield']

cobra    2
viper    5
Name: shield, dtype: int64

In [154]:
df1.iloc[0][1]

2

In [157]:
df1.iloc[1][1]

5

In [2]:
df1.iloc[[0,1]]

NameError: name 'df1' is not defined

The history saving thread hit an unexpected error (OperationalError('disk I/O error')).History will not be written to the database.

In [4]:
import pymysql

In [6]:
import pandas as pd

In [9]:
df=pd.read_csv('EcommercePurchases.csv')

In [11]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [12]:
X=df.drop('Clicked on Ad',axis=1)

KeyError: "['Clicked on Ad'] not found in axis"